<div class="container">
<div class="form">
<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category %></p>
</div>
</div>

<%= link_to "Back to restaurants", restaurants_path %>
